<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <form action="/" method="post">
        <label for="producttype">Choose a product:</label>
        <br>
        <select type="select" id="producttype">
        <option value="Select">-------Select------</option>
        <option value="Choke">Choke</option>
        <option value="Transformer">Transformer</option>
        <option value="Reactor">Reactor</option>
    </select>
    <br>
    <br>
    <label for="file">Please enter product image: </label>
        <input type="file" name="image" id="image">
        <br>
        <br>
        <label for="desc">Please enter product description: </label>

        <input type="textbox" name="desc" id="desc">
    </form>
</center>
    
    
</body>
</html>